@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: #363330;
}
/* App wrapper div for react app */
.App {
  font-family: 'Lato', 'Arial', sans-serif;
  text-align: center;
}
label {
  font-size: 16px;
}



/* Classes used in Title.js
 * ------------------------------------------------
 */
/* Class used to scale logo. */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Used by Tile.js to scale text/buttons/logo. */
.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Aids with font weight, spacing of 'Workout App' title */
.title {
  font-weight: 900;
  margin-top: calc(10px + 2vmin);
  margin-bottom: calc(2px + 1vmin);
}
/* aids with font weight, spacing of the italicized subtitle */
.subtitle {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: calc(2px + 1vmin);
}



/* Classes for Container.js
 * ------------------------------------------------
 */
.container {
  background-color: #272422;
  width: 95%;
  max-width: 750px;
  margin: 30px auto;
  overflow: auto;
  min-height: 750px;
  padding: 15px;
  border-radius: 5px;
}
/* Wrapper class for the header */
#header {
  border-radius: 5px;
  width: 100%;
  position: static;
  
  flex-direction: row;
  height: 85px;
}
/* Used for the workout logo in the header */
#header-logo {
  height: 45px;
  float: left;
  padding-right: 10px;
}
/* Div within header for logo & workout list title */
.header-right {
  float: right;
  width: 25%;
  margin-top: 7px;
  margin-right: 5px;
}
/* styles div holding export, load, & list/graphs option elements */
.header-left {
  margin-top: 20px; 
  max-width: 65%;
  height: 45px;
  overflow: hidden;
  margin-left: 10px;
  float: left;
  display: flex;  
}



/* Used by Workout & GraphsList to style for export, load, & select option elements */
.black {
  background-color: #363330;
  border: 1px solid white;
  width: 100%;
  height: 20px;
  border-radius: 7.5px;
}
/* Used by Workout & GraphsList to change color on every other row */
div.table > div:nth-of-type(even) {
  background:  #363330;
}
/* Used by Workout & GraphsList to correctly center elements directly under header-left/right components */
.centered {
  left: 50%; 
  transform: translate(-50%, 0); 
  position: absolute;
  width: 90%;
}



/* Classes for Workout.js
 * ------------------------------------------------
 */
 /* Class for parent button of the Workout */
 button.workout {
  background-color: transparent;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: calc(5px + 1vw);
  border: none; 
  padding-top: auto;
  padding-bottom: auto; 
}
button.workout:hover {
  background-color: #1c1b18;
  transition: 0.2s;
}
/* Class for date & # exercises in workout button */
.workout-right {
  padding-right: 15px; 
  width: 45%;
  float: right;
  font-size: 16px;
  text-align: right;
}
/* Class for workout name in the workout button */
.workout-left {
  padding-left: 15px;
  text-align: left;
  width: 55%;
  height: 40px;
  float: left;
  font-size: 32px;
  justify-content: center;
  overflow: hidden;
}



/* Classes used by WorkoutModal.js
 * ------------------------------------------------
 */
/* used to set background dim in modals, make modal dissapear if clicked on */
button.modal-b {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
  border: none;
  z-index: 98;
}
/* Class for the modal div itself */
.modal {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 5%);
  top: 0;
  z-index: 99;
  width: 90%;
  margin: auto;
  padding: 5px;
  max-width: 600px;
  max-height: 90%;
  background-color: #272422;
  border-radius: 6px;
  border: 1px solid white;
}
/* used to make the calendar icon for the date white */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}



/* Classes for Exercise.js
 * ------------------------------------------------
 */
.exercise {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* default form element styling  */
input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}
input[type=submit] {
  font-size: 14px;
  width: auto;
  color: black;
  background-color: #d99502;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}
/* Class used on the x-marks for each exercise */
.Xmark {
  position: absolute;
  left: 20px;
  transform: translate(-25%, -25%); 
}



/* Classes for Button.js
 * ------------------------------------------------
 */
.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lato', 'Arial', sans-serif;
}
.btn-sm {
  font-size: 10px;
  padding: 2px;
  margin: 5px;
  border-radius: 3px;
}
.btn-m {
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}
.btn-lg {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}
.btn-scale {
  font-size: calc(10px + 2vmin);
  padding: calc(2px + 2vmin);
  margin: calc(2px + 2vmin);
  border-radius: calc(2px + 1vmin); 
}
  


/* Styling for the scroll bar used globally
 * ------------------------------------------------
 */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
